---
layout: default
title: Conference Schedule
---


<h1>Schedule</h1>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#preconference" aria-controls="preconference" role="tab" data-toggle="tab">Workshops</a></li>
        <li role="presentation"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">Day 1</a></li>
        <li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">Day 2</a></li>
        <li role="presentation"><a href="#day3" aria-controls="day3" role="tab" data-toggle="tab">Day 3</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="preconference">...</div>
        <div role="tabpanel" class="tab-pane" id="day1">
            <h2>February Nth</h2>
            {% include presentation_timeline.html param="day1" %}
        </div>
        <div role="tabpanel" class="tab-pane" id="day2">
            {% include presentation_timeline.html param="day2" %}
        </div>
        <div role="tabpanel" class="tab-pane" id="day3">
            {% include presentation_timeline.html param="day3" %}
        </div>
    </div>

