---
layout: default
title: Venue
---
    <div class="row section">
        <div class="cell cell-lg">
          <div class="page-header">
            <h1>Venues</h1>
          </div>
          <div class="col-md-12">
          <a name="hotel"></a>
              <h2>Conference Hotel - Sheraton Society Hill</h2>
            <div class="col-md-6">
              <a href="https://www.starwoodhotels.com/sheraton/property/landing/index.html?propertyID=166">
                <img src="{{ site.data.path }}img/sheraton-society-hill.jpg" title="Credit sheratonhotels on Flickr" alt="Sheraton Society Hill" width="100%"></a>
              <p class="text-right small">Sheraton Society Hill <a href="https://secure.flickr.com/photos/sheratonhotels/8743955883/">photo: sheratonhotels on Flickr</a></p>
            </div>
            <div class="col-md-6">
              <p>
              One Dock Street<br />
              Philadelphia, Pennsylvania 19106 <br>
              <a href="tel:12152386000"> +1-215-238-6000</a> | <a href="https://www.starwoodhotels.com/sheraton/property/landing/index.html?propertyID=166"> Hotel website</a> | <a href="{{ site.data.path }}img/AnnotatedHotelFloorPlan.pdf">Annotated Floorplan</a>
              </p>
              <p>
                 <a href="#getting-here">Getting to the Sheraton</a>
                 <ul>
                   <li><a href="#from-the-airport">From the Airport</a></li>
                   <li><a href="#from-30th-st">From 30th Street Station (Amtrak)</a></li>
                 </ul>
              </p>
            </div>
          </div>
          <br>
          <div class="col-md-12">
            <a name="preconf"></a>
            <h2>Preconference Workshops</h2>
            <p>In addition to the <a href="#hotel">Conference Hotel</a>, preconference workshops will also be taking place at two nearby venues.</p>
              <a name="chf"></a>
              <h3>Chemical Heritage Foundation (CHF)</h3>
              <p>
                315 Chestnut Street<br>
                Philadelphia, PA 19106<br/>
                <a href="tel:2159252222"> +1-215-925-2222</a> | <a href="http://www.chemheritage.org/">CHF Website</a> | <a href="" data-toggle="modal" data-target="#chf-floorplan">CHF Floorplan</a>
              </p>
              <a name="aps"></a>
              <h3>American Philosophical Society (APS)</h3>
              <p>
                Franklin Hall<br>
                427 Chestnut St<br>
                Philadelphia, PA 19106-3386<br>
                <a href="tel:2154403400"> +1-215-440-3400</a> | <a href="https://amphilsoc.org/">APS Website</a> | <a href="" data-toggle="modal" data-target="#aps-floorplan">APS Franklin Hall Floorplan</a>

              </p>

          </div>
          <br />
          <div class="col-md-12">
            <a name="reception"></a>
            <h2>Reception</h2>
              <h3>The M&uuml;tter Museum</h3>
              <p>
                19 S 22nd Street<br />
                Philadelphia, PA 19103<br />

                <a href="tel:2155608564"> +1-215-560-8564</a> | <a href="http://muttermuseum.org/">M&uuml;tter Museum Website</a>
              </p>
          </div>
        </div> <!-- /.cell-lg -->
      </div><!-- /.row .section-->

      <div class="row section">
        <div class="cell cell-lg">
        <a name="getting-here"></a>
        <h2>Getting to the Hotel</h2>
        <a name="from-the-airport"></a>
        <h3>From the Airport</h3>
          <p> The <a href="http://www.phl.org/Pages/HomePage.aspx">Philadelphia International Airport</a> is the closest major airport to the conference. </p>
          <h4> Shuttle </h4>
          <p>The Sheraton works with <a href="http://www.ladylibertyshuttle.com/">the Lady Liberty shuttle service</a>, which provides shuttles from the airport for $10.  It is easiest to call them directly to schedule a pick up; their phone number is <a href="tel:21572478888">+1-215-724-8888</a> and there are kiosks at baggage claim that connect directly to the shuttle company. To return to the airport, the hotel's Front Desk or Concierge can assist with shuttle reservations.</p>
          <h4> Public Transport </h4>
          <p> Trains depart every 30 mins from the airport towards Center City, which costs $8. However, this line does not go directly to the hotel, so you will need to transfer (including another $2.25 fare) to the Market-Frankford Line (MFL) at the Market &amp; 11th (Jefferson) Station. Take th MFL eastbound towards Frankford to 2nd Street Station. The hotel is a two block walk from 2nd St Stattion.
          <h4>Taxis</h4>
          <p>For rates to and from the airport as well as general taxi info, see the <a href="http://www.phl.org/passengerinfo/transportationservices/Pages/taxi.aspx">Philadelphia International Airport taxi information page</a>.
          </p>
          <p>See more <a href="https://www.google.com/maps/dir/Philadelphia+International+Airport,+Philadelphia,+PA/Old+City,+Philadelphia,+PA">transportation options on Google Maps</a>.</p>
        <a name="from-30th-st"></a>
        <h4> From 30th St Station (Amtrak)</h4>
        <p>In 30th street station, follow the signs for the Market Frankford Line (MFL). Take the MFL Eastbound, towards Frankford, to 2nd St Station. The hotel is a two block walk from the station. </p>
        <p>Taxis are also ready available at the station. Expect a fare of about $7.50</p>

        <h4>Driving</h4>
        <p>The conference hotel offers overnight parking, at a $34/night valet rate. <a href="http://www.sheratonphiladelphiasocietyhill.com/philadelphia-hotel-parking-package">Read their parking page</a> for details.</p>
        <p> Multiple local parking garages are availbale as well and may be cheaper.</p>

      </div>
      </div>

      <!-- Chemical Heritage Foundation Floor plan modal -->
      <div class="modal fade" id="chf-floorplan" tabindex="-1" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Chemical Heritage Foundation Floor Plan</h4>
                  </div>
                  <div class="modal-body">
                      <p><strong>PRE-CONFERENCE ONLY</strong></p>
                      <img class="img-responsive" src="{{ site.data.path }}img/floor-plans/conference-center_second-floor.gif">
                  </div>
                  <div class="modal-footer">
                      <div class="pull-left">
                          <span><small>Image by <a href="http://www.chemheritage.org/visit/conference-center-rental/floor-plans.aspx">Chemical Heritage Foundation</a></small></span>
                      </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- American Philosophical Society / Franklin Hall Floor plan modal -->
      <div class="modal fade" id="aps-floorplan" tabindex="-1" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">American Philosophical Society, Franklin Hall Floor Plan</h4>
                  </div>
                  <div class="modal-body">
                      <p><strong>PRE-CONFERENCE ONLY</strong></p><p>There wasn't a map, so we drew you one. [NOT TO SCALE]. </p>
                      <img class="img-responsive" src="{{ site.data.path }}img/floor-plans/franklinhall.png">
                  </div>
                  <div class="modal-footer">
                      <div class="pull-left">
                          {% if pageLocale.Building == 'Chemical Heritage Foundation' %}
                          <span><small>Image by <a href="http://www.chemheritage.org/visit/conference-center-rental/floor-plans.aspx">Chemical Heritage Foundation</a></small></span>
                          {% endif %}
                          {% if pageLocale.Building == 'Sheraton Hotel' %}
                          <span><small>Image by <a href="http://www.starwoodhotels.com/sheraton/property/meetings/stacked_map.html?propertyID=166&buildingKey=1013372586&floorKey=all">Sheraton</a></small></span>
                          {% endif %}
                      </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
