---
layout: default
title: Preconference Workshops
---

<div class="row section">
    <div class="cell cell-lg">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ page.title }}: March 7th, 2016</h1>
            </div>
        </div>
        <div class="row" id="workshop-sorting-div">
            <div class="col-xs-12 col-sm-6">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default sort-workshop-time active" id="all">All</button>
                    <button type="button" class="btn btn-default sort-workshop-time" id="am">AM</button>
                    <button type="button" class="btn btn-default sort-workshop-time" id="pm">PM</button>
                    <button type="button" class="btn btn-default sort-workshop-time" id="full">Full Day</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <select class="form-control sort-workshop-locale">
                    <option value="all">All Locations</option>
                    {% for location in site.data.locations_test %}
                        {% assign loc = location[1] %}
                        <option value="{{ loc.id }}">{{ loc.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 sequence">
                {% assign posts = site.posts | where:categories, workshops %}
                {% for post in posts %}
                {% if post.length %}
                <div class="well workshop-well" data-length="{{ post.length }}" data-location="{{ post.location }}">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.content | truncate: 150}} <a class="btn btn-default btn-xs" href="{{ post.url }}">more</a></p>
                        </div>
                        <div class="col-xs-12 col-sm-6 text-center">
                            <h5>Length</h5>
                            <span class="text-uppercase">{{ post.length }}</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 text-center">
                            <h5>Location</h5>
                            {% assign locale = site.data.locations_test[post.location] %}
                            <p><a href="{{ locale.map-link }}" target="_blank">{{ locale.name }}</a></p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
