<footer class="footer">
    <div class="container">
        <a href="#"><img src="{{ site.data.path }}img/c4l-logo-pink.svg" alt="Code4Lib"></a>
        <ul class="list list--inline list--inline--dotted tsxs">
            <li class="list-item tci"><a href="{{ site.data.path }}index.html">Home</a></li>
            <li class="list-item tci"><a href="{{ site.data.path }}schedule">Schedule</a></li>
            <li class="list-item tci"><a href="{{ site.data.path }}attend.html">Attend</a></li>
            <li class="list-item tci"><a href="{{ site.data.path }}speakers.html">Speakers</a></li>
            <li class="list-item tci"><a href="{{ site.data.path }}venue.html">Venues</a></li>
            <li class="list-item tci"><a href="{{ site.data.path }}sponsors.html">Sponsors</a></li>
            <li class="list-item tci"><a href="{{ site.data.path }}conduct.html">Conduct</a></li>
            <li class="list-item tci"><a href="{{ site.data.path }}about.html">About</a></li>
        </ul>
        <div class="bucket">
            <p>
                <a rel="license" href="//creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International license">
                    <img src="{{ site.data.path }}img/cc.png" alt="License"></a>
            </p>
            <div style="display: inline;" xmlns:cc="/ns#" about="http://creativecommons.org">
                <p>
                    <small>
                        Except where otherwise noted,
                        content on this site
                        is licensed under a
                        <a rel="license" href="//creativecommons.org/licenses/by/4.0/" class="subfoot">
                            Creative Commons Attribution 4.0 International license</a>.
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>

<script>window.jQuery || document.write('<script src="{{ site.data.path }}js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="{{ site.data.path }}js/vendor/bootstrap.min.js"></script>
<script src="{{ site.data.path }}js/main.js"></script>
{% if page.GoogleSheetsKey != null %}
<script src="js/vendor/tabletop.js"></script>
<script>
    $( document ).ajaxStart(function() {
        $( "#loader" ).show();
    });
    $( document ).ajaxComplete(function() {
        $( "#loader" ).hide();
    });

    fata = {};
    window.onload = function() { init() };

    function init() {
        Tabletop.init( { key: '{{ page.GoogleSheetsKey }}',
            callback: writeTalk,
            simpleSheet: true } )
    }


    function writeTalk(data, tabletop) {
        data.forEach(function(entry) {
            //console.log(entry)
            theHTML = '';
            id = entry["Timestamp"].replace(/[^\w\s\d]/gi, '');
            id = id.replace(/[\s]/gi, '-');
            theHTML += '<div class="panel panel-default">' +
                    '<div class="panel-heading" role="tab" id="' + id + 'Header">' +
                    '<h4 class="panel-title">' +
                    '<a role="button" data-toggle="collapse" data-parent="#list-of-talks" href="#' + id + '" aria-expanded="true" aria-controls="' + id + '">' +
                    entry["{{ page.SheetsTitle }}"] +
                    '</a>' +
                    '</h4>' +
                    '</div>' +
                    '<div id="' + id + '" class="panel-collapse collapse" role="tabpanel" aria-labelledby="' + id + 'Header">' +
                    '<div class="panel-body">' +
                    '<p>' + entry["{{ page.SheetsAbstract }}"] + '<p>' +
                    '<h4>Proposed by: ' + entry["{{ page.SheetsPresenter }}"] + '</h4>';
                    if("{{ page.SheetsType }}" == "workshop"){
                        theHTML += '<h4>' + entry["Length/Time of Day for Preconference"] + '</h4>';
                    }
            theHTML += '</div></div></div>';
            $("#list-of-talks").append(theHTML);
        });
        $('#loader').hide();

    }


</script>
{% endif %}


</body>
</html>
