<footer class="footer">
    <div class="container">
        <a href="#"><img src="{{ site.data.path }}img/c4l-logo-pink.svg" alt="Code4Lib"></a>
        <ul class="list list--inline list--inline--dotted tsxs">
            <li class="list-item tci"><a href="#">Home</a></li>
            <li class="list-item tci"><a href="#">Attend</a></li>
            <li class="list-item tci"><a href="#">Schedule</a></li>
            <li class="list-item tci"><a href="#">Speakers</a></li>
            <li class="list-item tci"><a href="#">Venue</a></li>
            <li class="list-item tci"><a href="#">Sponsors</a></li>
            <li class="list-item tci"><a href="#">Conduct</a></li>
            <li class="list-item tci"><a href="#">About</a></li>
        </ul>
        <div class="bucket">
            <p>
                <a rel="license" href="//creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International license">
                    <img src="{{ site.data.path }}img/cc.png" alt="License"></a>
            </p>
            <div style="display: inline;" xmlns:cc="/ns#" about="http://creativecommons.org">
                <p>
                    <small>
                        Except where otherwise noted,
                        content on this site
                        is licensed under a
                        <a rel="license" href="//creativecommons.org/licenses/by/4.0/" class="subfoot">
                            Creative Commons Attribution 4.0 International license</a>.
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>

<script>window.jQuery || document.write('<script src="{{ site.data.path }}js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="{{ site.data.path }}js/vendor/bootstrap.min.js"></script>
<script src="{{ site.data.path }}js/main.js"></script>



</body>
</html>
