

<section id="cd-timeline" class="cd-container">
    {% assign events = site.data.schedule | where:include.param, 1 | sort:"time" %}
    {% for event in events %}
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <img src="{{ site.data.path }}img/clockface/{{ event.timeImg }}">
            </div>

            <div class="cd-timeline-content">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h2>{{ event.title }}</h2>
                    </div>
                    <div class="col-sm-6 col-xs-12 text-right">
                        <h2>{{ event.time }}</h2>
                    </div>
                </div>
                {% if event.groupId %}
                    {% assign talks = site.posts | where:"group",event.groupId | sort:"spot" %}
                    {% for talk in talks %}
                        <div class="row" style="margin-left: 0">
                            <div class="col-xs-12">
                                <h4><a href="{{ talk.url }}">{{ talk.title }}</a></h4>
                            </div>
                            <div class="col-xs-12 hidden-xs">
                                {% for speakerId in talk.speakers %}
                                    {% assign speaker = site.data.speakers_final[speakerId] %}
                                    {% if speaker %}
                                        <div class="col-sm-3">
                                            <a href="#" class="speaker-overlay" data-content="{{ speaker.Name }}">
                                                {% if speaker.Image-URL == '' %}
                                                    <img class="clip-circle" src="/img/speakers/none.png" alt="{{ speaker.Name }}">
                                                {% else %}
                                                    <img class="clip-circle" src="{{ speaker.Image-URL }}" alt="{{ speaker.Name }}">
                                                {% endif %}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="clearfix"></div>

            </div>
        </div> <!-- cd-timeline-block -->
    {% endfor %}
</section> <!-- cd-timeline -->