

<section id="cd-timeline" class="cd-container">
    {% assign events = site.data.schedule | where:include.param, 1 | sort:"time" %}
    {% for event in events %}
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <img src="{{ site.data.path }}img/clockface/{{ event.timeImg }}">
            </div>

            <div class="cd-timeline-content">
                <div class="row">
                    <div class="col-sm-7 col-xs-12">
                        <h2>{{ event.title }}</h2>
                    </div>
                    <div class="col-sm-5 col-xs-12 text-right">
                        <h2>{{ event.time }}</h2>
                    </div>
                </div>
                {% if event.groupId %}
                    {% assign talks = site.posts | where:"group",event.groupId | sort:"spot" %}
                    {% for talk in talks %}
                        <div class="row talk-row">
                            <div class="col-xs-12">
                                <h4><a href="{{ talk.url }}">{{ talk.title }}</a></h4>
                            </div>
                            <div class="col-xs-12 hidden-xs">
                                {% assign hasSpeakers = 0 %}
                                {% for speakerId in talk.speakers %}
                                    {% if speakerId != 0 %}
                                        {% assign speaker = site.data.speakers_final[speakerId] %}
                                        {% if speaker %}
                                            {% assign hasSpeakers = 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if hasSpeakers == 1 %}
                                    {% for speakerId in talk.speakers %}
                                        {% assign speaker = site.data.speakers_final[speakerId] %}
                                            {% if speaker %}
                                                <div class="col-sm-3 text-center">
                                                    {% if speaker.Image-URL == nil %}
                                                        <a href="/speakers.html#{{speaker.Name | slugify }}">
                                                            <img class="clip-circle-speaker" src="/img/speakers/none.png" alt="{{ speaker.Name }}">
                                                            <span>{{ speaker.Name }}</span>
                                                        </a>
                                                    {% else %}
                                                        <a href="/speakers.html#{{speaker.Name | slugify }}">
                                                            <img class="clip-circle-speaker" src="{{ speaker.Image-URL }}" alt="{{ speaker.Name }}">
                                                            <span>{{ speaker.Name }}</span>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <div class="col-xs-12">{{talk.speakers-text}}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="clearfix"></div>

            </div>
        </div> <!-- cd-timeline-block -->
    {% endfor %}
</section> <!-- cd-timeline -->