{% include header.html %}

{% if page.type == 'workshop' %}
    {% assign pageLength = 'empty' %}
    {% for location in site.data.locations %}
        {% assign loc = location[1] %}
        {% if loc.AM-sessions == page.slugTitle and loc.PM-sessions == page.slugTitle %}
            {% assign pageLength = 'full' %}
            {% assign pageLocale = loc %}
        {% elsif loc.AM-sessions == page.slugTitle %}
            {% assign pageLength = 'am' %}
            {% assign pageLocale = loc %}
        {% elsif loc.PM-sessions == page.slugTitle %}
            {% assign pageLength = 'pm' %}
            {% assign pageLocale = loc %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="sub-container container-fluid presentation-container">
    <div class="row section">
        <div class="cell cell-lg">
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ page.title }}</h1>
                        {{ content }}
                    </div>
                    <div class="col-xs-12">
                        <h3>Speaker(s)</h3>
                        {% for speaker in page.speakers %}
                            {% if speaker %}
                            {% assign sp = site.data.speakers_temp[speaker] %}
                                {% if sp %}
                                <div class="col-xs-6 col-sm-4 col-md-3">
                                    <!--<a href="#" class="speaker-overlay" data-content="{{ sp.name }}">
                                        <img class="clip-circle" src="http://cdn-img.easyicon.net/png/11100/1110055.gif" alt="{{ sp.name }}">
                                    </a>-->
                                    {{ sp.name }}
                                </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if page.nocontent %}
            {% else %}
                <div class="col-xs-12 col-sm-4 col-md-3 text-center">
                    <div class="row">
                        <!-- date -->
                        <div class="col-xs-6 col-sm-12 col-md-12">
                            <h3>Date</h3>
                            <p>{{ page.date | date_to_long_string }}</p>
                        </div>

                        <!-- time of day for presentations -->
                        {% if page.type == 'workshop' %}
                        <div class="col-xs-6 col-sm-12 col-md-12">
                            <h3>Time of Day</h3>
                            {% if pageLength == 'full' %}
                            <p>Full Day</p>
                            {% else %}
                            <p class="text-uppercase">{{ pageLength }}</p>
                            {% endif %}
                        </div>
                        {% endif %}

                        <!-- building/room for workshops -->
                        {% if page.type == 'workshop' %}
                            <div class="col-xs-6 col-sm-12 col-md-12">
                                <h3>Building</h3>
                                <p>{{ pageLocale.Building }}</p>
                                <h3>Room</h3>
                                <p>{{ pageLocale.Room }}</p>
                            </div>
                        {% endif %}

                        <!-- slides -->
                        {% if page.slides %}
                            <div class="col-xs-6 col-sm-12 col-md-12">
                                <a href="{{ page.slides }}" class="btn btn-default btn-lg col-sm-12"><span class="glyphicon glyphicon-blackboard"></span> Slides</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% include footer.html %}