{% include header.html %}

{% if page.type == 'workshop' %}
    {% assign pageLength = 'empty' %}
    {% assign pageDate = 'March 7th' %}
    {% for location in site.data.locations %}
        {% assign loc = location[1] %}
        {% if loc.AM-sessions == page.slugTitle and loc.PM-sessions == page.slugTitle %}
            {% assign pageLength = 'full' %}
            {% assign pageLocale = loc %}
        {% elsif loc.AM-sessions == page.slugTitle %}
            {% assign pageLength = 'am' %}
            {% assign pageLocale = loc %}
        {% elsif loc.PM-sessions == page.slugTitle %}
            {% assign pageLength = 'pm' %}
            {% assign pageLocale = loc %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if page.type == 'talk' %}
    {% if page.day == 1 %}
        {% assign pageDate = 'March 8th' %}
    {% endif %}
    {% if page.day == 2 %}
        {% assign pageDate = 'March 9th' %}
    {% endif %}
    {% if page.day == 3 %}
        {% assign pageDate = 'March 10th' %}
    {% endif %}
{% endif %}


<div class="sub-container container-fluid presentation-container">
    <div class="row section">
        <div class="cell cell-lg">
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ page.title }}</h1>
                        {{ content }}
                    </div>
                    <div class="col-xs-12">
                        <h3>Speaker(s)</h3>
                        {% if page.type == 'workshop' %}
                            {% for speaker in page.speakers %}
                                {% if speaker != 0 %}
                                {% assign sp = site.data.speakers_temp[speaker] %}
                                    {% if sp %}
                                    <div class="col-xs-6 col-sm-4 col-md-3">
                                        <!--<a href="#" class="speaker-overlay" data-content="{{ sp.name }}">
                                            <img class="clip-circle" src="http://cdn-img.easyicon.net/png/11100/1110055.gif" alt="{{ sp.name }}">
                                        </a>-->
                                        {{ sp.name }}
                                    </div>
                                    {% else %}
                                        <div class="col-xs-6 col-sm-4 col-md-3">
                                            <!--<a href="#" class="speaker-overlay" data-content="{{ sp.name }}">
                                                <img class="clip-circle" src="http://cdn-img.easyicon.net/png/11100/1110055.gif" alt="{{ sp.name }}">
                                            </a>-->
                                            {{ speaker }}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if page.type == 'talk' %}
                            {% for speakerId in page.speakers %}
                                {% if speakerId != 0 %}
                                    {% assign speaker = site.data.speakers_final[speakerId] %}
                                    {% if speaker %}
                                    <div class="col-sm-3 text-center">
                                        <a href="/speakers.html#{{speaker.Name | slugify }}">
                                            <img class="clip-circle-speaker" src="{{ speaker.Image-URL }}" alt="{{ speaker.Name }}">
                                            {% if event.groupId != 'key-open' and event.groupId != 'key-close' %}
                                            <span>{{ speaker.Name }}</span>
                                            {% endif %}
                                        </a>
                                    </div>
                                    {% endif %}

                                    {% assign speaker = site.data.speakers_dummy[speakerId] %}
                                    {% if speaker %}
                                    <div class="col-sm-3 text-center">
                                        <img class="clip-circle-speaker" src="{{ speaker.Image-URL }}" alt="{{ speaker.Name }}">
                                        {% if event.groupId != 'key-open' and event.groupId != 'key-close' %}
                                        <span>{{ speaker.Name }}</span>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 text-center">
                <div class="row talk-detail-box">
                    <!-- date -->
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <!--<h3>Date</h3>-->
                        {% if page.type == 'talk' %}
                            <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-calendar"></span></div>
                            <div class="talk-box-detail-value"> <a href="/schedule/day-{{page.day}}">{{ pageDate }}</a></div>
                        {% else %}
                            <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-calendar"></span></div>
                            <div class="talk-box-detail-value"> <a href="/workshops">{{ pageDate }}</a></div>
                        {% endif %}
                    </div>

                    <!-- time of day for presentations -->
                    {% if page.type == 'workshop' %}
                    <div class="col-xs-12 col-sm-12 col-md-12 time-slot">
                        {% if pageLength == 'full' %}
                        <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-time"></span></div>
                        <div class="talk-box-detail-value">Full Day</div>
                        {% else %}
                        <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-time"></span></div>
                        <div class="talk-box-detail-value"><span class='text-uppercase'>{{ pageLength }}</span></div>
                        {% endif %}
                    </div>
                    {% endif %}

                    <!-- building/room for workshops -->
                    {% if page.type == 'workshop' %}
                        <div class="col-xs-12 col-sm-12 col-md-12 time-length">
                            <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-map-marker"></span></div>
                            <div class="talk-box-detail-value">{{ pageLocale.Building }}<br>{{ pageLocale.Room }}</div>
                            <!--<div class="talk-box-detail-value">{{ pageLocale.Room }}</div>-->
                        </div>
                    {% endif %}

                    <!-- group -->
                    {% if page.type == 'talk' %}
                    {% assign group_data = site.data.schedule | where:'groupId', page.group %}
                    {% assign group = group_data | first %}
                    <div class="col-xs-12 col-sm-12 col-md-12 time-slot">
                        <!--<h3>Group {{ page.group }}
                        <p>{{ group.time }}</p></h3>-->
                        <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-time"></span></div>
                        <div class="talk-box-detail-value">{{ page.startTime | date: "%I:%M %p" }}</div>

                    </div>
                    {% endif %}

                    <!-- length -->
                    {% if page.type == 'talk' %}
                    <div class="col-xs-12 col-sm-12 col-md-12 time-length">
                        <!--<h3>Length</h3>
                        <p>{{ page.length }} minutes</p>-->
                        <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-hourglass"></span></div>
                        <div class="talk-box-detail-value">  {{ page.length }} minutes</div>
                    </div>
                    {% endif %}

                    <!-- slides -->
                    {% if page.slides %}
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <a href="{{ page.slides }}" class="btn btn-default btn-lg col-sm-12"><span class="glyphicon glyphicon-blackboard"></span> Slides</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
